<h2>Contact Details</h2>
{{ contactform.hidden_tag() }}

<div class="form-row">
    {{ inputField(contactform.firstname) }}
    {{ inputField(contactform.lastname) }}
</div>

<div class="form-row">
    {{ inputField(contactform.email) }}
    {{ inputField(contactform.company) }}
</div>

<div class="form-row">
    {{ inputField(contactform.phone) }}
    {{ inputField(contactform.mobile) }}
</div>

<div class="form-row">
    {{ inputField(contactform.title) }}
    {{ inputField(contactform.sex) }}
</div>

<div class="form-row">
    {{ inputField(contactform.homepage) }}
    {{ inputField(contactform.fax) }}
</div>


{# inputField(contactform.discount) #}



