{# lupon/templates/contact.html #}

{% from "macros.html" import inputField, submitForm %}

{% extends "base.html" %}

{% block content %}
<div class="row">
    {% include "contact/sidebar.html" %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

    <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Contact Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Open Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Revenue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">History</a>
            </li>
        </ul>

    <form class="form" action="{{ url_for('modify_contact', contact_id=contactform.data.id) }}" method="post" enctype="multipart/form-data">
        <div class="row">
        <div class="col-sm">
            {% include "contact/contactform.html" %}
        </div>
        <div class="col-sm">
            {% include "contact/locationform.html" %}
        </div>

    </div>
    {{ submitForm(contactform.update_contact) }}
    {{ submitForm(contactform.del_contact) }}
    </form>
    </main>
</div>
{% endblock %}