{# lupon/templates/login.html #}

{% extends "base.html" %}

{% block content %}

<form class="form-signin" id="login" action="{{ url_for('login') }}" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>   
    <label class="{{ form.email.class }}" for="event_{{ form.email.id }}">{{ form.email.label }}</label>
    {{ form.email }}
    <label class="{{ form.password.class }}" for="event_{{ form.password.id }}">{{ form.password.label }}</label>
    {{ form.password }}
    <div class="checkbox">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    {{ form.submit }}
    <p><input type="Submit" value="Login"></p>  
    {{ form.csrf_token }}
</form>

{% endblock %}