{# Renders input field types with error messages #}

{% macro inputField(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %} form-row">
    <label for="event_{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
    <div class="col-7">    
        {{ field(class_="form-control") }}
    </div>
    <div class="form-control-feedback col-sm-3">
        {% if field.errors %}
        {% for error in field.errors %}{{ error }}{% endfor %}
        {% endif %}  
    </div>
</div>
{% endmacro %}

{# Renders Action #}
{% macro submitForm(field) %}
    {{ field(class_="btn btn-primary") }}
{% endmacro %}
