{# lupon/templates/login.html #}

{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('register') }}"  method="POST">
   <h2 class="form-signin-heading">Create new Account</h2>            
   {% for field in form %}
   <label class="{{ field.class }}" for="event_{{ field.id }}">{{ field.label }}</label>
   {{ field }}
   {% endfor %}
   <p><input type="Submit" value="Register Now!"></p>
   {{ form.csrf_token }}
</form>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Email</th>
            <th>Password</th>
            </tr>
    </thead>
    <tbody>
        {% for row in user %}
        <tr>
        <td>{{ row.id|safe }}</td>
        <td>{{ row.email|safe }}</td>
        <td>{{ row.password|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}