{# lupon/templates/tasklist.html #}

{% from "macros.html" import inputField, submitForm %}

{% extends "base.html" %}

{% block content %}

<!--code added by rolf-->
<script type=text/javascript>
    $(function() {
        $('a#calculate').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
            }, function(data) {
                $("#result").text(data.result);
            });
            return false;
        });
    });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
    <input type=text size=5 name=b> =
    <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>

<!--end of demo code by rolf-->

<form class="form" action="" method="post" enctype="multipart/form-data">
    List of available tasklists
</form>

<script type="text/javascript">
    //ajax binds
    $(function () {
        $('#add_task').bind('click', add_task);
        return false;
    });


    //ajax function add
    var add_task = function () {
        console.log('here rolf');
        $.ajax({
            method:"POST",
            url: $SCRIPT_ROOT + '/add_task',
            data: {
                name: $('#name').val(),
                amount: $('#amount').val(),
                value: $('#amount').val(),
                unit: $('#unit').val(),
                dcription: $('#description').val()
            }
        }).done(function (msg) {
            alert("data Saved: "+ msg);
        })
    }
    //ajax function update

    //ajax function delete

</script>

<form class="form">
    {{ taskform.hidden_tag() }}
    {{ inputField(taskform.name) }}
    {{ inputField(taskform.amount) }}
    {{ inputField(taskform.value) }}
    {{ inputField(taskform.unit) }} <!--replace with dropdown-->
    {{ inputField(taskform.description) }}
    {{ submitForm(taskform.add_task) }}
    {{ submitForm(taskform.update_task) }}
    {{ submitForm(taskform.del_task) }}
</form>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Create Date</th>
            <th>Modify Date</th>
            <th>Created by</th>
            <th>Modyfied by</th>
            <th>name</th>
            <th>description</th>
            <th>amount</th>
            <th>unit</th>
            <th>value</th>
            </tr>
    </thead>
    <tbody>
        {% for row in tasks %}
        <tr>
        <td><a href="{{ url_for('task', task_id=row.id) }}">{{ row.id|safe }}</a></td>
        <td>{{ row.create_date|safe }}</td>
        <td>{{ row.modify_date|safe }}</td>
        <td>{{ row.create_by|safe }}</td>
        <td>{{ row.modify_by|safe }}</td>
        <td>{{ row.name|safe }}</td>
        <td>{{ row.description|safe }}</td>
        <td>{{ row.amount|safe }}</td>
        <td>{{ row.unit|safe }}</td>
        <td>{{ row.value|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form class="form" action="" method="post" enctype="multipart/form-data">
    List of all tasks
</form>

{% endblock %}