{# lupon/templates/contact.html #}

{% from "macros.html" import inputField, submitForm, simpleInputField %}

{% extends "base.html" %}

{% block content %}
<div class="row">
    {% include "offer/sidebar.html" %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Edit Offer</h1>
    <h3>Contact</h3>
    <p>
    <a class="btn-primary btn" href="{{ url_for('edit_contact', contact_id=contact.id) }}">Edit</a><br/>
    Firstname: {{ contact.firstname }} <br/>
    Lastname: {{ contact.Lastname }} <br/>
    </p>

    <h4>Location</h4>
    <p>
    Street: {{ location.street|safe }} {{ location.streetNumber|safe }}<br/>
    City: {{ location.zip|safe }}  {{ location.city|safe }} <br/>
    State: {{ location.state|safe }} <br/>
    </p>
    <h3>Offer Details</h3>
    <form class="form" action="{{ url_for('edit_offer', offer_id=form.data.id) }}" method="post" enctype="multipart/form-data">
        <div class="row">
                {{ form.hidden_tag() }}
        <div class="col-sm">
            {{ inputField(form.name) }}
            {{ inputField(form.task) }}
        </div>
        <div class="col-sm">
            {{ inputField(form.discount) }}
        </div>

    </div>
    {{ submitForm(form.update_offer) }}
    {{ submitForm(form.del_offer) }}
    {{ submitForm(form.assosiate_task) }}
    </form>
  
    
<h2>Assiciated Tasks</h2>

<div class="form-row">
        <form class="form" action="{{ url_for('edit_offer', offer_id=form.data.id) }}" method="post" enctype="multipart/form-data">
            {% include "task/taskform.html" %}
        </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>Description</th>
            <th>Value</th>
            <th>Action</th>
            </tr>
    </thead>
    <tbody>
        {% for row in tasks  %}
        <tr>
        <td><a href="{{ url_for('task', id=row.id) }}">{{ row.id|safe }}</a></td>
        <td>{{ row.name|safe }}</td>
        <td>{{ row.amount|safe }}</td>
        <td>{{ row.unit|safe }}</td>
        <td>{{ row.description|safe }}</td>
        <td>{{ "$%.2f"|format(row.value)|safe }}</td>
        <td><a class="btn-primary btn" href="{{ url_for('offer_remove_task', task_id=row.id, offer_id=form.data.id) }}">Remove</a></td>
        </tr>
        {% endfor %}
        <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ "$%.2f"|format(total) }}</b></td>
                <td></td>
                </tr>
    </tbody>
</table>


    </main>
</div>

{% endblock %}