{# lupon/templates/contact.html #}

{% from "macros.html" import inputField, submitForm, simpleInputField %}

{% extends "base.html" %}

{% block content %}
<div class="row">
    {% include "offer/sidebar.html" %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Edit Offer</h1>
    <form class="form" action="{{ url_for('edit_offer', offer_id=form.data.id) }}" method="post" enctype="multipart/form-data">
        <div class="row">
        <div class="col-sm">
            {{ form.hidden_tag() }}
            {{ inputField(form.description) }}
            {{ inputField(form.task) }}
        </div>
    </div>
    {{ submitForm(form.update_offer) }}
    {{ submitForm(form.del_offer) }}
    {{ submitForm(form.assosiate_task) }}
    </form>
    <form class="form" action="{{ url_for('edit_offer', offer_id=form.data.id) }}" method="post" enctype="multipart/form-data">
    {% include "task/taskform.html" %}
    
<h2>Assiciated Tasks</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>Description</th>
            <th>Value</th>
            <th>Action</th>
            </tr>
    </thead>
    <tbody>
        {% for row in tasks  %}
        <tr>
        <td><a href="{{ url_for('task', id=row.id) }}">{{ row.id|safe }}</a></td>
        <td>{{ row.name|safe }}</td>
        <td>{{ row.amount|safe }}</td>
        <td>{{ row.unit|safe }}</td>
        <td>{{ row.description|safe }}</td>
        <td>{{ row.value|safe }}</td>
        <td><a class="btn-primary btn" href="{{ url_for('offer_remove_task', task_id=row.id, offer_id=form.data.id) }}">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</form>
    </main>
</div>

{% endblock %}